
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br /> and <span class="highlight">activities</span></p>
        <br />
        <br />

        <!-- Schedule start -->
        <div class="schedule">

            <!-- Navigation by day start -->
            <ul class="nav nav-schedule">
                <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Schedule</h5><p class="text-alt">22/04/2017</p></a></li>
            </ul>
            <!-- Navigation by day end -->
            <!-- First level content start -->
            <div class="tab-content">

                <!-- Day 1 content start -->
                <div id="day1" class="tab-pane fade active in">

                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active"><a href="#day1_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                        <li><a href="#day1_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                        @*<li><a href="#day1_auditorium3" data-toggle="tab">Auditorium 3</a></li>*@
                    </ul>
                    <!-- Navigation by auditorium start -->
                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">

                        <!-- Auditorium 1 content start -->
                        <div id="day1_auditorium1" class="tab-pane fade active in">

                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium1_timeline">

                                <!-- Lecture start -->
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Luctus at accumsan eget ut ante. Cras molestie sollicitudin. Ultricies et eros id quisque auctor. Per mus enim ac lorem integer. Erat netus id. Porta enim quis et elementum amet risus volutpat magna nec ac.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30-10:30</strong>
                                        <h6 class="title">Slot 1<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:30-11:15</strong>
                                        <h6 class="title">Slot 2<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:15-11:30</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:30-12:30</strong>
                                        <h6 class="title">Slot 3<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:30-13:00</strong>
                                        <h6 class="title">Slot 4<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-cutlery"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:30-14:15</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:15-15:00</strong>
                                        <h6 class="title">Slot 5<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:00-16:00</strong>
                                        <h6 class="title">Slot 6<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:00-16:15</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-flask"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time11" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:15-18:00</strong>
                                        <h6 class="title">Labs<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div><div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-gift"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time12" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>18:00</strong>
                                        <h6 class="title">Closing / Gifts<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                            </div>
                            <!-- Accordion end -->

                        </div>

                        <div id="day1_auditorium2" class="tab-pane fade in">

                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium2_timeline">

                                <!-- Lecture start -->
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time2" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30-10:30</strong>
                                        <h6 class="title">Slot 1<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:30-11:15</strong>
                                        <h6 class="title">Slot 2<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:15-11:30</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:30-12:30</strong>
                                        <h6 class="title">Slot 3<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:30-13:00</strong>
                                        <h6 class="title">Slot 4<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-cutlery"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:30-14:15</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:15-15:00</strong>
                                        <h6 class="title">Slot 5<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker1.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:00-16:00</strong>
                                        <h6 class="title">Slot 6<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:00-16:15</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    @*<div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>*@
                                </div>
                            </div>
                            <!-- Accordion end -->

                        </div>

                    </div>
                    <!-- Second level content end -->

                </div>
                <!-- Day 1 content end -->

            </div>
            <!-- First level content end -->

        </div>
        <!-- Schedule end -->

    </div>

</section>