<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        <p class="text-alt">Meet our <span class="highlight">professionals</span></p>
        <br />
        <br />

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker1.jpg" width="200" height="200" alt="Paris Polyzos" class="img-responsive"></div>
                <h3 class="name">PARIS POLYZOS</h3>
                <p class="text-alt"><small>Software Engineer @@ Skufler</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker2.jpg" width="200" alt="Konstantinos Pantos" class="img-responsive"></div>
                <h3 class="name">FIRSTNAME LASTNAME</h3>
                <p class="text-alt"><small>Cloud Architect @@ Microsoft</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker3.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">FIRSTNAME LASTNAME</h3>
                <p class="text-alt"><small>Software Engineer @@ Skufler</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker4.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">FIRSTNAME LASTNAME</h3>
                <p class="text-alt"><small>Software Engineer @@ Skufler</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker5.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">FIRSTNAME LASTNAME</h3>
                <p class="text-alt"><small>Software Engineer @@ Skufler</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="img/speakers/speaker6.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">BILL PADDYS</h3>
                <p class="text-alt"><small>Software Engineer @@ Skufler</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>