<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        <p class="text-alt">Call for <a href="https://1drv.ms/xs/s!AvCR5AUEM6mAi7NA4aipRmlaoMf6rg"><span class="highlight">content</span></a></p>
        <br />
        <br />
        @*More coming soon*@
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-paris-polyzos.jpg" width="200" height="200" alt="Paris Polyzos" class="img-responsive"></div>
                    <h3 class="name">PARIS POLYZOS</h3>
                    <p class="text-alt"><small>Senior Software Engineer / Microsoft Azure MVP</small></p>
                    <p class="about">Paris is a Senior Software Engineer and a Microsoft Azure MVP. He holds an MSc in Electical & Computer Engineering; he is passionate about the Web, Microsoft Technologies and the cloud!</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-kostas-pantos.jpg" width="200" height="200" alt="Konstantinos Pantos" class="img-responsive"></div>
                    <h3 class="name">Kostas Pantos</h3>
                    <p class="text-alt"><small>Cloud Solutions Architect @@ Microsoft</small></p>
                    <p class="about">Since 2001, when I started my professional career, I was given the opportunity to work with some of the largest Greek Software development Companies and worked with cutting edge Microsoft technologies. Nowadays I work as a Solutions Architect for Microsoft where I focus in providing innovative cloud solutions.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vaggelis-kappas.jpg" width="200" height="200" alt="Vaggelis Kappas" class="img-responsive"></div>
                    <h3 class="name">Vaggelis Kappas</h3>
                    <p class="text-alt"><small>Premier Field Engineer for Virtualization and Azure IaaS @@ Microsoft</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-chatzipavlis-bw.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive"></div>
                    <h3 class="name">Antonios Chatzipavlis</h3>
                    <p class="text-alt"><small>Senior SQL Server DBA @@ SiEBEN</small></p>
                    <p class="about">Antonios has been involved with computers since 1982. He started his professional carrier in IT, especially in software development in 1988. In 1998 he started his carrier as Microsoft Certified Trainer in Microsoft development products. He is also the founder of sqlschool.gr and a moderator of autoexec.gr</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-dimosthenis-stellakis.jpg" width="200" height="200" alt="Dimosthenis Stellakis" class="img-responsive"></div>
                    <h3 class="name">Dimosthenis Stellakis</h3>
                    <p class="text-alt"><small>Solutions Architect</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vasilis-aivalis.jpg" width="200" height="200" alt="Vasilis Aivalis" class="img-responsive"></div>
                    <h3 class="name">Vasilis Aivalis</h3>
                    <p class="text-alt"><small>Senior Software Engineer @@ Skufler</small></p>
                    <p class="about">Vasilis holds a BSc. and MSc. in Computer Science since 2003. He has been working as a software developer for Siemens, Atos-Origin and ZuluTrade. Throughout his career Vasilis has been given the opportunity to work with various industries, platforms and programming languages.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-sophie-chanialaki.jpg" width="200" height="200" alt="Sophie Chanialaki" class="img-responsive"></div>
                    <h3 class="name">Sophie Chanialaki</h3>
                    <p class="text-alt"><small>Technical Evangelist @@ Microsoft Hellas</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-nasos-loukas.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive"></div>
                    <h3 class="name">Nasos Loukas</h3>
                    <p class="text-alt"><small>Mobile Team Leader @@ Kyon</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>